.col-sm-3.offset-sm-1.blog-sidebar
  .sidebar-module.sidebar-module-inset
    %h4 About
    %p
      Etiam porta
      %em sem malesuada magna
      mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.
  .sidebar-module
    %h4 Elsewhere
    %ol.list-unstyled.social-links
      %li
        %a{:href => "#"}= fa_icon "github"
      %li
        %a{:href => "#"}= fa_icon "instagram"
      %li
        %a{:href => "#"}= fa_icon "facebook"
      %li
        %a{:href => "#"}= fa_icon "twitter"