%nav.navbar.navbar-expand-md.navbar-light.bg-light.blog-nav
  .container
    = link_to "Wojtek Kostanski", root_path, class: 'navbar-brand'
    %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.mr-auto
        = nav_helper 'nav-link', 'li'
        = login_link_helper 'nav-link'