-if logged_in?(:site_admin)
  .col-sm-12
    %span
      = link_to('New Post', new_post_path, class: 'btn btn-success')
    %span
      = link_to('Topics', topics_path, class: 'btn btn-success')
.col-sm-8.blog-main
  = render @posts
  = paginate @posts, theme: 'twitter-bootstrap-4'
