%p#notice
  = notice
%h1 Posts
= link_to('New Post', new_post_path) if logged_in?(:site_admin)
%br
%table
  %thead
    %tr
      %th Title
      %th Date
      %th Body
      %th{ colspan: "4" }
  %tbody
    = render @posts