.comment-card
  .card
    .card-block
      .row
        .col-md-2
          = gravatar_helper comment.user
        .col-md-10
          = comment.content
          .comment-attribution
            Comment posted by
            %span.comment-name= comment.user.first_name
            = distance_of_time_in_words(comment.created_at, Time.now)
            ago