#navbarHeader.collapse.bg-dark
  .container
    .row
      .col-sm-8.py-4
        %h4.text-white About
        %p.text-muted Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.
      .col-sm-4.py-4
        %h4.text-white Explore
        %ul.list-unstyled
          = nav_helper 'text-white', 'li'
          %li= login_link_helper 'text-white'
.navbar.navbar-dark.bg-dark.shadow-sm
  .container.d-flex.justify-content-between
    %a.navbar-brand{:href => "#"} Wojtek Kostański
    %button.navbar-toggler{"aria-controls" => "navbarHeader", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarHeader", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon