.app-card-container
  .card
    %h1 About me
    .row
      .col-md-4
        = image_tag('http://placehold.it/600x600', alt: 'profile image', class: 'img-fluid')
        .skills
          .skill
            -@skills.each do |skill|
              %h5
                =skill.title
              .progress
                .progress-bar.progress-bar-striped.bg-warning{role: 'progressbar', 'aria-valuenow': skill.skill_percent, 'aria-valuemax': '100', style: "width: #{skill.skill_percent}%;"}
      .col-md-8
        %p 
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur eum commodi explicabo earum unde! Optio voluptatibus dolorum perspiciatis fugit esse voluptas labore est corporis, sint nemo ipsam maiores vero voluptates nesciunt provident minus laborum quisquam ipsa ab voluptatem ut possimus officiis, ducimus vel? Fugit repellat quo voluptatibus debitis. Nulla, assumenda culpa eaque adipisci ipsa voluptatum qui ab exercitationem nostrum accusantium?
        %p 
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur eum commodi explicabo earum unde! Optio voluptatibus dolorum perspiciatis fugit esse voluptas labore est corporis, sint nemo ipsam maiores vero voluptates nesciunt provident minus laborum quisquam ipsa ab voluptatem ut possimus officiis, ducimus vel? Fugit repellat quo voluptatibus debitis. Nulla, assumenda culpa eaque adipisci ipsa voluptatum qui ab exercitationem nostrum accusantium?
        %p
          %button.btn.btn-primary{type: 'button', 'data-toggle': 'collapse', 'data-target': '#jobHistory', 'aria-expanded': 'false', 'aria-controler': 'jobHistory'}
            Job History
          %button.btn.btn-primary{type: 'button', 'data-toggle': 'collapse', 'data-target': '#education', 'aria-expanded': 'false', 'aria-controler': 'education'}
            Educations
          %button.btn.btn-primary{type: 'button', 'data-toggle': 'collapse', 'data-target': '#courses', 'aria-expanded': 'false', 'aria-controler': 'courses'}
            Courses
        .collapse#jobHistory
          .card.card-block
            Job 1
          .card.card-block
            Job 2
        .collapse#education
          .card.card-block
            School 1
          .card.card-block
            School 2
        .collapse#education
          .card.card-block
            Course
