%h1 About me

.row
  .col-md-4
    = image_tag('http://placehold.it/600x600', alt: 'profile image', class: 'img-fluid')
  .col-md-8
    = @skills.inspect
    %p 
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur eum commodi explicabo earum unde! Optio voluptatibus dolorum perspiciatis fugit esse voluptas labore est corporis, sint nemo ipsam maiores vero voluptates nesciunt provident minus laborum quisquam ipsa ab voluptatem ut possimus officiis, ducimus vel? Fugit repellat quo voluptatibus debitis. Nulla, assumenda culpa eaque adipisci ipsa voluptatum qui ab exercitationem nostrum accusantium?
    %p 
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur eum commodi explicabo earum unde! Optio voluptatibus dolorum perspiciatis fugit esse voluptas labore est corporis, sint nemo ipsam maiores vero voluptates nesciunt provident minus laborum quisquam ipsa ab voluptatem ut possimus officiis, ducimus vel? Fugit repellat quo voluptatibus debitis. Nulla, assumenda culpa eaque adipisci ipsa voluptatum qui ab exercitationem nostrum accusantium?