%h1 Pages#contact
%p Find me in app/views/pages/contact.html.erb

%p 
  = number_to_phone('123453234')
%p
  = number_to_currency('125')
%p
  = number_to_percentage('80.5')
%p
  = number_with_delimiter('4243424242232')