- if logged_in?(:site_admin)
  %nav.breadcrumb.blogcrumb.justify-content-end
    = link_to(fa_icon("#{post.draft? ? 'file' : 'file-text'}"), toggle_status_post_path(post))
    = link_to(fa_icon('pencil-square-o'), edit_post_path(post))
    = link_to(fa_icon('trash'), post, method: :delete, data: { confirm: 'Are you sure?' })