.blog-post
  %h2.blog-post-title= link_to post.title.upcase, post
  %p.blog-post-meta
    Published #{distance_of_time_in_words(post.created_at, Time.now)} ago
  = render partial: 'posts/admin_actions', locals: {post: post}
  %p
    = post.body